/* GameController.css */

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498db; /* Change the color as needed */
}

.question-label {
    -fx-font-size: 18px;
    -fx-text-fill: #2c3e50; /* Change the color as needed */
    -fx-wrap-text: true;
}

#countdownLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #e74c3c; /* Change the color as needed */
}

.radioButton {
    -fx-font-size: 16px;
    -fx-text-fill: #34495e; /* Change the color as needed */
}

.action-button {
    -fx-font-size: 18px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #2ecc71; /* Change the color as needed */
}

#correctAnswerLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #e74c3c; /* Change the color as needed */
}
