/* Đặt hình ảnh nền cho toàn bộ ứng dụng */
.root {
    -fx-background-image: url('C:\Users\firek\OneDrive\Máy tính\360_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg'); /* Đường dẫn đến tệp hình ảnh nền */
    -fx-background-size: cover; /* Chỉnh kích thước ảnh để phủ toàn bộ khu vực nền */
    -fx-background-repeat: no-repeat; /* Ngăn lặp lại ảnh nền */
}

/* Các định dạng khác cho phần tử trong ứng dụng */
#myTitle {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #003366; /* Màu chữ */
}

#myQuestion {
    -fx-font-size: 18px;
    -fx-text-fill: #666666;
}

#option1, #option2, #option3, #option4 {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-padding: 5px 10px;
}

#nextQuestion {
    -fx-font-size: 20px;
    -fx-background-color: #4CAF50; /* Màu nền */
    -fx-text-fill: #FFFFFF; /* Màu chữ */
    -fx-padding: 10px 20px;
}

#selectAnswer {
    -fx-font-size: 20px;
    -fx-background-color: #337AB7; /* Màu nền */
    -fx-text-fill: #FFFFFF; /* Màu chữ */
    -fx-padding: 10px 20px;
}
