/* ScoreScreen.css */

.title-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #3498db;
    /* Change the color as needed */
}

.score-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2ecc71;
    /* Change the color as needed */
}